.YafPosts {
    list-style: outside;
    list-style-type: none;
    list-style-image: none;
    margin: 5px 0 0 0;
    padding: 5px 0 5px 38px;
    line-height: 120%;
    border-bottom: 1px solid #ccc;
    width: 90%
}